pandas
geopandas
numpy
matplotlib
seaborn
webdriver-manager
selenium
scipy
imageio
tqdm
pathos
makefun
eco2ai
joblib
python-benedict
scikit-learn
cma
spiderplot
psutil
osmnx
tensorflow>=2.11.0
git+https://github.com/agussomacal/PerplexityLab
spektral
scikit-optimize