pandas
geopandas
numpy
matplotlib
seaborn
webdriver-manager
selenium
scipy
imageio
tqdm
pathos
makefun
joblib
python-benedict
scikit-learn
cma
spiderplot
psutil
osmnx
-i https://test.pypi.org/simple/ PerplexityLab==0.0.1b0